<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.AddingTheProductWomenHoodedJackets"/>
      <class name="testscripts.VerifyingTheFunctionality"/>
      <class name="testscripts.AddingTheProductOfHomeFurnishing"/>
      <class name="testscripts.DeletingAddressPage"/>
      <class name="testscripts.CheckingPincode"/>
      <class name="testscripts.WomenWhishlistWithoutLogin"/>
      <class name="testscripts.CheckingManufacturerPincode"/>
      <class name="testscripts.AddingTheProductOfHandTowel"/>
      <class name="testscripts.AddingNewAddress"/>
      <class name="testscripts.AddingTheProductToCartTestCase_09"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
